* {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 3em;
}

header h1 {
  color: hsl(212, 6%, 44%);
  font-weight: 200;
  font-size: 1.5em;
}

header h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.8em;
}

header p {
  color: hsl(212, 6%, 44%);
  font-weight: 400;
  padding-left: 2em;
  padding-right: 2em;
}

main {
  display: grid;
  place-items: center;
  margin-top: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main div {
  display: flex;
  flex-direction: column;
  border-top: solid 6px;
  max-width: 350px;
  border-radius: 2%;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.5em;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

main div h2 {
  color: hsl(234, 12%, 34%);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

main div p {
  color: hsl(212, 6%, 44%);
  font-weight: 400;
  font-size: 1em;
}

main div img {
  height: 25%;
  width: 25%;
  display: flex;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 4em;
  display: block;
}

main div:nth-child(1) {
  border-color: hsl(180, 62%, 55%);
}
main div:nth-child(2) {
  border-color: hsl(0, 78%, 62%);
}
main div:nth-child(3) {
  border-color: hsl(34, 97%, 64%);
}
main div:nth-child(4) {
  border-color: hsl(212, 86%, 64%);
}

@media (min-width: 1024px) {
  header {
    margin-top: 8em;
  }

  header h1 {
    font-size: 2.5em;
  }

  header h2 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
  }

  header p {
    max-width: 540px;
    font-weight: 600px;
    margin-bottom: 1.2em;
    font-size: 1em;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
    max-width: 1200px;
    margin: 4em auto;
    align-items: center;
  }

  main div:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  main div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  main div:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  main div:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  main div {
    margin-bottom: 0;
  }
}
